/* Фон для всего тела страницы */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #1e1e2f, #3a3a5f);
    background-size: cover;
    background-position: center;
    color: #f0f1f2;
}

/* Стили для шапки */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    height: 150px;
    background-image: linear-gradient(135deg, #2e2e4f, #4a4a7f);
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
}

.logo-container {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-container {
    text-align: center;
    flex-grow: 1;
}

.title {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: #f0f1f2;
}

/* Стили для светло-серого блока */
.button-wrapper {
    position: relative;
    background-color: #2e2e4f;
    border-radius: 20px;
    width: 90%;
    max-width: 1100px;
    min-height: 39vw;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
}

.inner-content {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

/* Стили для элементов результатов */
.result-item {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.result-item p {
    font-size: 1.2rem;
    color: #f0f1f2;
}

.result-item h3 {
    font-size: 1.5rem;
    color: #f0f1f2;
    margin-bottom: 10px;
}

.result-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result-item ul li {
    font-size: 1.2rem;
    color: #f0f1f2;
    margin-bottom: 5px;
}

/* Стили для кнопки "Further" */
.next-button {
    padding: 15px 30px; /* Уменьшаем отступы для более компактного вида */
    font-size: 1.4rem; /* Уменьшаем размер текста */
    font-weight: bold;
    color: #ffffff; /* Белый текст */
    background-color: #28a745; /* Однотонный зелёный фон */
    border: none; /* Убираем границу */
    border-radius: 8px; /* Скругляем углы */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    font-family: 'Roboto', sans-serif; /* Используем более простой шрифт */
}

/* Эффект при наведении на кнопку */
.next-button:hover {
    background-color: #218838; /* Темнее зелёный цвет при наведении */
}

/* Эффект при нажатии на кнопку */
.next-button:active {
    background-color: #1e7e34; /* Ещё темнее зелёный цвет при активации */
}

/* Контейнер для матрицы на странице результатов */
.result-matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.result-matrix-border {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #4a4a7f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-matrix-border table {
    border-collapse: collapse;
    margin: auto;
}

.result-matrix-border td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: #f0f1f2;
    color: #333;
    border-radius: 5px;
    width: 60px;
    height: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.result-matrix-border td:hover {
    background-color: #e6f7ff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.result-matrix-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f0f1f2;
}

/* Стили для кнопки "LAUNCH" */
.start-button {
    padding: 20px 40px; /* Уменьшаем отступы для более компактного вида */
    font-size: 1.8rem; /* Уменьшаем размер текста */
    font-weight: bold;
    color: #ffffff; /* Белый текст */
    background-color: #007bff; /* Однотонный синий фон */
    border: none; /* Убираем границу */
    border-radius: 8px; /* Скругляем углы */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    font-family: 'Roboto', sans-serif; /* Используем более простой шрифт */
}

/* Эффект при наведении на кнопку */
.start-button:hover {
    background-color: #0056b3; /* Темнее синий цвет при наведении */
}

/* Эффект при нажатии на кнопку */
.start-button:active {
    background-color: #004080; /* Ещё темнее синий цвет при активации */
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #3a3a5f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0f1f2;
}

.menu-item label {
    margin-bottom: 5px;
}

.menu-item select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #4a4a7f;
    color: #f0f1f2;
}

/* Контейнер для матрицы */
.matrix-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Автоматически подстраивается под размеры */
    gap: 10px; /* Отступы между ячейками */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Стили для ячеек матрицы */
.matrix-container input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f1f2;
    color: #333;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Стили при наведении на ячейку */
.matrix-container input:hover {
    background-color: #e6f7ff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Стили для выбора размера матрицы */
.matrix-size-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.matrix-size-selection select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4a4a7f;
    color: #f0f1f2;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.matrix-size-selection select:hover {
    background-color: #3a3a5f;
}

.select-container {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.select-container select {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #333;
    width: 50px;
    text-align: center;
    background-color: #4a4a7f;
    color: #f0f1f2;
}

#polynomial-degree {
    font-size: 1.2rem;
    width: 50px;
    height: 25px;
    text-align: center;
    border-radius: 8px;
    background-color: #f0f1f2;
    color: #333;
}

#coefficient-input {
    font-size: 1.2rem;
    width: 50px;
    height: 25px;
    text-align: center;
    border-radius: 8px;
    background-color: #f0f1f2;
    color: #333;
}

.result-matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.result-matrix-border {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #4a4a7f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-matrix-border table {
    border-collapse: collapse;
    margin: auto;
}

.result-matrix-border td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: #f0f1f2;
    color: #333;
    border-radius: 5px;
    width: 60px;
    height: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.result-matrix-border td:hover {
    background-color: #e6f7ff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.result-matrix-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f0f1f2;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}